.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px; 
    height: 400px; 
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    font-size: 40px;
    font-family: Verdana;
  }
  
  h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  
  article a {
    background-color: blue;
    color: white; 
    border-radius: 4px;
    height: 30px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;
  }
  
  article img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px;
  }
  